In [ ]:
#Write a Python program to take two numbers as input from the user and display their sum.

Num1 = float(input("Enter the first number: "))
Num2 = int(input("Enter the second number: "))

print("Sum of the number=", Num1+Num2)

Enter the first number:  21
Enter the second number:  23

Sum of the number= 44.0

In [ ]:
# Calculate and print the midpoint of two numbers entered by the user.

a = 20
b = 21
midpoint = (a+b)/2
print("Midpoint of the numbers=", midpoint)

Midpoint of the numbers= 20.5

In [ ]:
#Write a Python program to calculate the area of a triangle using the formula: area = 0.5 * base * height.

base = float(input("Enter base: "))
height = float(input("Enter height: "))
area = 0.5 * base * height
print("Area of triangle =", area)

Enter base:  4
Enter height:  5

Area of triangle = 10.0

In [ ]:
#Take three numbers as input from the user and display their product.

a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = int(input("Enter third number:"))

print("product=",a*b*c)


a = float(input("Enter first number:"))
b = float(input("Enter second number:"))
c = int(input("Enter third number:"))

print("product=",a*b*c)

Enter first number: 21
Enter second number: 22
Enter third number: 23

product= 10626

Enter first number: 23
Enter second number: 32
Enter third number: 42

product= 30912.0

In [ ]:
#Take a number as input and display its square and cube.

num1=int(input("enter the num:"))
square=num1**2
cube=num1**3
print("square of num:",square)
print("Cube of num:",cube)

enter the num:23
square of num: 529
Cube of num: 12167

In [ ]:
#Take two numbers as input and display their quotient and remainder.


a = int(input("Enter dividend: "))
b = int(input("Enter divisor:"))

print("Quotient =", a // b)
print("Remainder =", a % b)

Enter dividend:  43
Enter divisor: 56

Quotient = 0
Remainder = 43

In [ ]:
#Take three numbers as input and display their average.

a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = int(input("Enter third number:"))

average = (a + b + c) / 3

print("Average of three number=",average)

Enter first number: 34
Enter second number: 43
Enter third number: 2

Average of three number= 26.333333333333332

In [ ]:
#Write a Python program to calculate the area of a rectangle using the formula: area = length * width.

length = 34
width = 45

area = length * width
print(area)

1530

In [ ]:
# Take five numbers as input representing marks obtained and total marks Display the percentage.


R = int(input("Enter first number:"))
A = int(input("Enter second number:"))
H = int(input("Enter third number:"))
U = int(input("Enter fourth number:"))
L = int(input("Enter fifth number:"))

Total_marks= R+A+H+U+L

percentage = Total_marks/5

print("Total Marks =",Total_marks)
print("Total percentage= ",percentage)

Enter first number: 45
Enter second number: 65
Enter third number: 76
Enter fourth number: 87
Enter fifth number: 89

Total Marks = 362
Total percentage=  72.4

In [ ]:
#Write a Python program to swap two numbers entered by the user without using a third variable.

# Tuple Unpacking

a = 10
b = 20

a, b = b , a

print(a)
print(b)

20
10

In [ ]:
#Take a number as input and check whether it is even or odd.

A = int(input("Enter a number: "))

if A % 2 == 0:
    print(A, "is Even")
else:
    print(A, "is Odd")


    A = int(input("Enter a number: "))

if A % 2 == 0:
    print(A, "is Even")
else:
    print(A, "is Odd")

Enter a number:  23

23 is Odd

Enter a number:  24

24 is Even

In [ ]:
# Write a Python program to convert temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32.

Celsius = float(input("Enter the temperature: "))

Fahrenheit = (Celsius*9/5)+32

print("temperature in Fahrenheit:",Fahrenheit)

Enter the temperature:  45

temperature in Fahrenheit: 113.0

In [ ]:
# Write a Python program to convert temperature from Fahrenheit to Celsius using the formula: C = (F - 32) × 5/9.

Fahrenheit = float(input("Enter the temperature: "))

Celcius = (Fahrenheit-32)* 5/9

print("Temperature in Celsius:", Celsius)

Enter the temperature:  34

Temperature in Celsius: 45.0

In [ ]:
# Take two numbers as input and find their greatest common divisor (GCD).

# Find GCD of Two Numbers

import math
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
gcd = math.gcd(num1, num2)
print(f"The GCD of {num1} and {num2} is: {gcd}")

N = 12
s = 18

Enter the first number:  23
Enter the second number:  65

The GCD of 23 and 65 is: 1

In [ ]:
# Write a Python program to calculate the simple interest using the formula:
#SI = (P × R × T) / 100, where P is the principal amount, R is the rate of interest, and T is the time in years.

P = float(input("Enter the principal amount:"))
R = float(input("Enter the rate of intrest % :"))
T = float(input("Enter the time in years:"))

Simple_intrest = (P*R*T)/100

print("Simple intrest:", Simple_intrest)

Enter the principal amount: 67
Enter the rate of intrest % : 23
Enter the time in years: 3

Simple intrest: 46.23

In [ ]:
# 16.	Write a Python program to check whether a number is positive, negative, or zero.

num = float(input("Enter the number:"))

if num > 0:

  print(num, "is Positive")

elif num < 0 :

  print(num, "is Negative")

else:print(num," is Zero")

Enter the number:3
3.0 is Positive

# **Day 2 Assignment **

In [ ]:
#Q1 Write a Python program that accepts a string from user. Your program should create and display a new string where the first and last characters have been exchanged.

#For example if the user enters the string 'HELLO' then new string would be 'OELLH'

name = 'HELL0'

name[-1]+name[1 :4]+name[0]

'0ELLH'

In [ ]:
# Q2 Write a Python program that accepts a string from user. Your program should create a new string in reverse of first string and display it.

#For example if the user enters the string 'EXAM' then new string would be 'MAXE'

name = 'EXAM'

name[ : : -1]

'MAXE'

In [ ]:
#Q3 Write a Python program that accepts a string from user. Your program should create a new string by shifting one position to left.

#For example if the user enters the string 'examination 2021' then new string would be 'xamination 2021e'

Examination = 'examination 2021'

Examination[1:] + Examination[0]

'xamination 2021e'

In [ ]:
# Q4 Write a Python program to calculate the length of a string.

name = 'Rahul'

len(name)

5

In [ ]:
# Q5 Write a Python program to get a string made of the first 2 and last 2 characters of a given string.
#If the string length is less than 2, return the empty string instead. Sample String : 'w3resource' Expected Result :
#'w3ce' Sample String : 'w3' Expected Result : 'w3w3' Sample String : ' w' Expected Result : Empty String


# Program to get a string made of the first 2 and last 2 characters

# Taking input from the user
s = input("Enter a string: ")

# Checking length condition
if len(s) < 2:
    result = ""
else:
    result = s[:2] + s[-2:]

# Displaying the result
print("Result:", result)

Enter a string:  23

Result: 2323

In [ ]:
# Q6 Write a Python program to add 'ing' at the end of a given string (length should be at least 3).
#If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3,
#leave it unchanged. Sample String :
#'abc' Expected Result : 'abcing' Sample String : 'string' Expected Result : 'stringly'

s = input('Enter a string ')

if len(s) > 2:
    result = s + 'ing'
print(result)

Enter a string  str

string

In [ ]:
# Q7 Write a Python program to remove the nth index character from a nonempty string.

s = input('Enter a string -')
n = int(input("Enter index number to remove -"))

if len(s) > 0 and len(s) > n :
  first=s[: n]
  last =s[n+1:]
  print(first+last)
else:
  print('invalid input or index out of range')

Enter a string - 23
Enter index number to remove - 2

invalid input or index out of range

In [ ]:
# Q8 Write a Python program to change a given string to a newly string where the first and last chars have been exchanged.

def swap_first_last(s: str) -> str:

    # If the string length is less than 2, return it unchanged
    if len(s) < 2:
        return s

    # Swap first and last characters
    return s[-1] + s[1:-1] + s[0]

In [2]:
# Q9 Write a Python script that takes input from the user and displays that in upper and lower cases.

R = input("Enter a string: ")

print("Uppercase:", R.upper())
print("Lowercase:", R.lower())

Enter a string: rahul
Uppercase: RAHUL
Lowercase: rahul

# ** Lab List **

In [ ]:
# 1- Write a program to access the third element from the given list.

My_list = [10, 20, 30, 40, 50]

My_list[2]

30

In [ ]:
# Write a program to access the last element from the given list using negative indexing.

My_list: ['apple', 'banana', 'cherry', 'date']

My_list = 'date'

My_list[0:4]

'date'

In [ ]:
  # Write a program to change the second element to 100 in the given list.

R = [5, 10, 15, 20, 25]

R[1]= 100

print(R)

[5, 100, 15, 20, 25]

In [ ]:
# 4 Write a program to access the first element using negative indexing.

R = [7, 14, 21, 28, 35]

R[-5]

7

In [ ]:
# 5 Write a program to access the second last element from the given list.

S = [1, 2, 3, 4, 5, 6]

S[4]

5

# **Slicing Questions**

In [ ]:
# 6 Write a program to extract the first three elements from the given list.

R = [100, 200, 300, 400, 500, 600]

R[0:3]

[100, 200, 300]

In [ ]:
# 7 Write a program to extract all elements except the first two from the given list.

S = [2, 4, 6, 8, 10, 12]

S[2:6]

[6, 8, 10, 12]

In [ ]:
# 8 Write a program to extract every alternate element from the given list.

R = [5, 10, 15, 20, 25, 30, 35]

R[::2]

[5, 15, 25, 35]

In [ ]:
# Write a program to extract elements from index 2 to 5 from the given list.

My_list = [10 , 20, 30, 40, 50, 60, 70, 80,90]

My_list[2:6]

[30, 40, 50, 60]

# ** Nested Slicing Questions**

In [ ]:
# 11 Write a program to access the second element from the first nested list.

R = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

R[0][1]

2

In [ ]:
# 12 Write a program to extract the last element from the last nested list.

R = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

R[-1][-1]

'i'

In [ ]:
# 13 Write a program to extract the second and third lists from a given nested list.

R =  [[10, 20], [30, 40], [50, 60], [70, 80]]

R [1:3]

[[30, 40], [50, 60]]

In [ ]:
# 14 Write a program to extract the second element from all nested lists.

R = [[1, 9], [2, 8], [3, 7], [4, 6]]

R[0][1], R[1][1], R[2][1], R[3][1]

(9, 8, 7, 6)

In [ ]:
#15 Write a program to reverse all sublists in a nested list.

R = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

R[0][::-1], R[-2][::-1], R[-3][::-1]

([3, 2, 1], [6, 5, 4], [3, 2, 1])

# append() Function Questions

In [ ]:
# 1- Write a program to append the number 100 to the given list.

R = [10, 20, 30, 40]

R.append(100)

R

[10, 20, 30, 40, 100]

In [ ]:
# 2 Write a program to append a string "Hello" to the given list.

R = ['apple', 'banana', 'cherry']

R.append('Hello')

R

['apple', 'banana', 'cherry', 'Hello']

In [ ]:
3 # Write a program to append a list [5, 6, 7] as a single element in the given list.

R = [1, 2, 3, 4]

R.append([5,6,7])

R

[1, 2, 3, 4, [5, 6, 7]]

# ** extend() Function Questions **

In [ ]:
# Write a program to extend the given list by adding another list [50, 60, 70].

R = [10, 20, 30, 40]

R.extend([50,60,70])

R

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
# 5 Write a program to extend a list of numbers [7, 8, 9] with another list [10, 11, 12].

R = [7, 8, 9]

R.extend([10,11,12])

R

[7, 8, 9, 10, 11, 12]

In [ ]:
# 6 Write a program to extend a list of strings ["cat", "dog"] with another list ["lion", "tiger"].

R = ["cat", "dog"]

R.extend(["lion","tiger"])

R

['cat', 'dog', 'lion', 'tiger']

# ** pop() Function Questions **

In [ ]:
# 7 Write a program to remove the last element from the given list using the pop function.

l = [10, 20, 30, 40]

l.pop()

l

[10, 20, 30]

In [ ]:
# 8 Write a program to remove the third element from the given list using the pop function.

R = [1, 2, 3, 4, 5]

R.remove(3)

R

[1, 2, 4, 5]

In [ ]:
# 9 Write a program to remove the first element from the given list using the pop function.

R = [100, 200, 300, 400]

R.pop(0)

R

[200, 300, 400]

# ** remove() Function Questions **

In [ ]:
# 10 Write a program to remove the element 20 from the given list.

R = [10, 20, 30, 40, 50]

R.remove(20)

R

[10, 30, 40, 50]

In [ ]:
# 11 Write a program to remove the first occurrence of "apple" from the given list.

R = ["banana", "apple", "cherry", "apple"]

R.remove("apple")

R

['banana', 'cherry', 'apple']

In [ ]:
# 12 Write a program to remove the number 5 from the given list if it exists.

R = [1, 2, 3, 4, 5, 6]

R.remove(5)

R

[1, 2, 3, 4, 6]

# **index() Function Questions **

In [ ]:
# 13 Write a program to find the index of the element 50 in the given list.

R = [10, 20, 30, 40, 50, 60]

R.index(50)

[10, 20, 30, 40, 50, 60]

In [ ]:
# 14 Write a program to find the index of "cherry" in the given list.

S = ["apple", "banana", "cherry", "date"]

S.index("cherry")

S

['apple', 'banana', 'cherry', 'date']

In [ ]:
# Write a program to find the index of the number 100 in the given list. If not found, print "Not found".

R = [10, 20, 30, 40]

if 100 in R:
    index(100) == R(100)

    print(100)


else:

    print("Not found")

Not found

# ** count() Function Questions **

In [ ]:
 # 16 Write a program to count the occurrences of 5 in the given list.

R = [1, 5, 2, 5, 3, 5, 4]

R.count(5)

R

[1, 5, 2, 5, 3, 5, 4]

In [ ]:
# Write a program to count how many times "apple" appears in the given list.

R = ["apple", "banana", "apple", "cherry", "apple"]

R.count("apple")

3

In [ ]:
# 18 Write a program to count the occurrences of 100 in the given list.

R = [10, 20, 30, 40, 50]

R.count(100)

0

# ** min() and max() Function Questions **

In [ ]:
# 19 Write a program to find the minimum value in the given list.

S = [45, 12, 78, 34, 23]

min(S)

12

In [ ]:
# 20 Write a program to find the maximum value in the given list.

R = [99, 55, 73, 21, 64]

max(R)

99

# ** Lab – Tuple, Set , Dictionary **

## Tuple Questions

In [ ]:
# 1.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you access the element 15 using positive indexing? Write a Python program to achieve this.

my_tuple = (5, 10, 15, 20, 25)

my_tuple[2]

15

In [ ]:
# 2.	Given a tuple my_tuple = (100, 200, 300, 400, 500), how can you access the element 300 using negative indexing? Write a Python program to achieve this.

my_tuple = (100, 200, 300, 400, 500)

my_tuple[-3]

300

In [ ]:
# 3.	Given a tuple my_tuple = (1, 2, 3, (4, 5, 6)), how can you access the element 6 from the nested tuple using indexing? Write a Python program to achieve this.

my_tuple = (1, 2, 3, (4, 5, 6))

my_tuple[3][2]

6

In [ ]:
# 4.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you slice it to obtain (10, 15, 20)? Write a Python program to achieve this.

my_tuple = (5, 10, 15, 20, 25)

my_tuple[1:4]

(10, 15, 20)

In [ ]:
# 5.	Given a tuple my_tuple = ('Python', 'Java', 'C++', 'JavaScript'),
#how can you access the last element without knowing its index? Write a Python program to achieve this.

my_tuple = ('Python', 'Java', 'C++', 'JavaScript')

my_tuple[-1]

'JavaScript'

In [ ]:
# 6.	Given two tuples tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), how can you concatenate them into a single tuple? Write a Python program to achieve this.

tuple1 = (1, 2, 3)

tuple2 = (4, 5, 6)

tuple1 + tuple2

(1, 2, 3, 4, 5, 6)

In [ ]:
# 7.	Given a tuple my_tuple = ('x', 'y', 'z', 'a'), how can you check if the element 'y' exists in the tuple? Write a Python program to achieve this.

my_tuple = ('x', 'y', 'z', 'a')



if 'y' in my_tuple:

  print("'y'exists in the tuple")

else:

  print("'y'does notexists in the tuple")

'y'exists in the tuple

In [ ]:
# 8.	Given a tuple my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple'),
# how can you count the number of occurrences of 'apple'? Write a Python program to achieve this.

my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple')

my_tuple.count('apple')

3

In [ ]:
# 9.	Given a tuple my_tuple = (True, False, True, False), how can you find the number of True values in the tuple? Write a Python program to achieve this.


my_tuple = (True, False, True, False)

my_tuple.count(True)

2

In [ ]:
# 10.	Given a tuple my_tuple = ('Python', 3.8, True, (1, 2, 3)), how can you access the nested tuple (1, 2, 3)? Write a Python program to achieve this.

my_tuple = ('Python', 3.8, True, (1, 2, 3))

my_tuple[3]

(1, 2, 3)

In [ ]:
# 11.	Given a tuple my_tuple = (10, 20, 30), how can you convert it into a list? Write a Python program to achieve this.

my_tuple = (10, 20, 30)

list(my_tuple)

[10, 20, 30]

In [ ]:
# 12.	Given a tuple my_tuple = (7, 14, 21, 28, 35), how can you find the smallest and largest elements? Write a Python program to achieve this.

my_tuple = (7, 14, 21, 28, 35)

print("Smallest element from my_tuple : ", min(my_tuple))

print("Largest element from my_tuple : ", max(my_tuple))

Smallest element from my_tuple :  7
Largest element from my_tuple :  35

In [ ]:
# 13.	Given a tuple my_tuple = (2, 4, 6, 8, 10), how can you find the sum of all elements? Write a Python program to achieve this.

my_tuple = (2, 4, 6, 8, 10)

sum(my_tuple)

30

In [ ]:
# 14.	Given a tuple my_tuple = ('a', 'b', 'c', 'd'), how can you reverse the order of elements? Write a Python program to achieve this.

my_tuple = ('a', 'b', 'c', 'd')

my_tuple[::-1]

('d', 'c', 'b', 'a')

In [ ]:
# 15.	Given two tuples tuple1 = (1, 2, 3) and tuple2 = (1, 2, 3), how can you check if they are equal? Write a Python program to achieve this.

tuple1 = (1, 2, 3)

tuple2 = (1, 2, 3)

tuple1 == tuple2

True

In [ ]:
# 16.	Given a tuple my_tuple = (10, 20, 30, 40), how can you unpack its values into separate variables? Write a Python program to achieve this.

my_tuple = (10, 20, 30, 40)

a, b, c, d = my_tuple

print("a=", a)
print("b=", b)
print("c=", c)
print("d=", d)

a= 10
b= 20
c= 30
d= 40

In [ ]:
# 17.	Given a tuple my_tuple = (3, 6, 9, 12, 15), how can you convert it into a string? Write a Python program to achieve this.

my_tuple = (3, 6, 9, 12, 15)

str(my_tuple)

'(3, 6, 9, 12, 15)'

In [ ]:
# 18.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you iterate through it using a for loop? Write a Python program to achieve this.

my_tuple = (1, 2, 3, 4, 5)

for i in my_tuple:

  print(i)

1
2
3
4
5

In [ ]:
# 19.	Given a tuple my_tuple = (100, 200, 300, 400), how can you convert it into
# a dictionary with keys as index positions? Write a Python program to achieve this.

my_tuple = (100, 200, 300, 400)

my_dict = {100, 200, 300, 400}

my_dict

{100, 200, 300, 400}

In [ ]:
# 20.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you delete the entire tuple? Write a Python program to achieve this.

my_tuple = (1, 2, 3, 4, 5)

del my_tuple

print("Tuple deleted successfully")

Tuple deleted successfully

# Set Interview Questions

In [ ]:
# Question 1: Given a set my_set = {10, 20, 30, 40, 50}, how can you check if the number 30 exists in the set? Write a Python program to achieve this.

my_set = {10, 20, 30, 40, 50}

if 30 in my_set:

  print("30 exists in the set")

else:

    print("30 does not exist in the set")

30 exists in the set

In [ ]:
# Question 2: Suppose you have a set my_set = {1, 2, 3, 4, 5}. How can you add the element 6 to this set? Write a Python program to achieve this.

my_set = {1, 2, 3, 4, 5}

my_set.add(6)

my_set

{1, 2, 3, 4, 5, 6}

In [ ]:
# Question 3: Given a set my_set = {10, 20, 30, 40, 50}, how can you remove the element 30 from the set? Write a Python program to achieve this.

my_set = {10, 20, 30, 40, 50}

my_set.remove(30)

my_set

{10, 20, 40, 50}

In [ ]:
# Question 4: Suppose you have two sets: set1 = {1, 2, 3} and set2 = {3, 4, 5}. How can you find their union? Write a Python program to achieve this.

set1 = {1, 2, 3}

set2 = {3, 4, 5}

set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
# Question 5: Given two sets set1 = {10, 20, 30} and set2 = {30, 40, 50}, how can you find their intersection? Write a Python program to achieve this.

set1 = {10, 20, 30}

set2 = {30, 40, 50}

set1.intersection(set2)

{30}

In [ ]:
# Question 6: Suppose you have two sets: set1 = {10, 20, 30} and set2 = {30, 40, 50}.
#How can you find elements that are in set1 but not in set2? Write a Python program to achieve this.

set1 = {10, 20, 30}

set2 = {30, 40, 50}

set1.difference(set2)

{10, 20}

In [ ]:
# Question 7: Given a set my_set = {1, 2, 3}, how can you remove an element randomly from the set? Write a Python program to achieve this.

my_set = {1, 2, 3}

In [ ]:
# Question 8: Suppose you have a set my_set = {1, 2, 3, 4, 5}, how can you clear all elements from this set? Write a Python program to achieve this.

my_set = {1, 2, 3, 4, 5}

my_set.clear()

my_set

set()

In [ ]:
# Question 9: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you find the symmetric difference? Write a Python program to achieve this.

set1 = {1, 2, 3}

set2 = {3, 4, 5}

set1.symmetric_difference(set2)

{1, 2, 4, 5}

In [ ]:
# Question 10: Suppose you have a set my_set = {10, 20, 30, 40, 50}, how can you find the length of the set? Write a Python program to achieve this.

my_set = {10, 20, 30, 40, 50}

len(my_set)

5

In [ ]:
# Question 11: Given a set set1 = {10, 20, 30} and a frozen set set2 = frozenset({30, 40, 50}), can you modify set2? Write a Python program to explain why.

set1 = {10, 20, 30}

set2 = frozenset({30, 40, 50})

print("original se1:", set1)

print("original se2:", set2)

try:
    set2.add(60)
except AttributeError as e:
    print("Error:", e)

print("Explanation: A frozenset is immuatable, so you cannot add or remove")

original se1: {10, 20, 30}
original se2: frozenset({40, 50, 30})
Error: 'frozenset' object has no attribute 'add'
Explanation: A frozenset is immuatable, so you cannot add or remove

In [ ]:

# Question 12: Suppose you have a set my_set = {1, 2, 3}. How can you update it with another set {4, 5, 6}? Write a Python program to achieve this.

my_set = {1, 2, 3}

another_set = {4,5,6}

my_set.update(another_set)

my_set

{1, 2, 3, 4, 5, 6}

In [ ]:
# Question 13: Given a set my_set = {'apple', 'banana', 'cherry'}, how can you check if it is a subset of another set
# { 'apple', 'banana', 'cherry', 'date'}? Write a Python program to achieve this.

my_set = {'apple', 'banana', 'cherry'}

another_set= { 'apple', 'banana', 'cherry', 'date'}

my_set.issubset(another_set)

True

In [1]:
# Question 14: Suppose you have two sets set1 = {1, 2, 3, 4} and set2 = {3, 4}, how can you check if set2 is a subset of set1? Write a Python program to achieve this.

set1 = {1, 2, 3, 4}

set2 = {3, 4}

set2.issubset(set1)

True

In [2]:
# Question 15: Given a set set1 = {1, 2, 3, 4, 5}, how can you convert it into a list? Write a Python program to achieve this.

set1 = {1, 2, 3, 4, 5}

list(set1)

[1, 2, 3, 4, 5]

In [3]:
# Question 16: Suppose you have a list my_list = [10, 20, 30, 40, 50, 10, 20], how can you remove duplicates and
#convert it into a set? Write a Python program to achieve this.

my_list = [10, 20, 30, 40, 50, 10, 20]

set(my_list)

{10, 20, 30, 40, 50}

In [6]:
# Question 17: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you check if they are disjoint? Write a Python program to achieve this.

set1 = {1, 2, 3}

set2 = {3, 4, 5}

if set1.isdisjoint(set2):

 print("The sets are disjoint. ")

else:
 print("The sets are not disjoint. ")

The sets are not disjoint.

In [7]:
# Question 18: Suppose you have a set my_set = {10, 20, 30}, how can you iterate over its elements and print them? Write a Python program to achieve this.

my_set = {10, 20, 30}

for element in my_set :

  print(element)

10
20
30

In [15]:
# Question 19: Given a set my_set = {10, 20, 30, 40, 50}, how can you find the minimum and maximum values? Write a Python program to achieve this.

my_set = {10, 20, 30, 40, 50}

Minimum_value = min(my_set)

Maximum_value = max(my_set)

print("Minimum value:", Minimum_value)

print("Maximum value:", Maximum_value)

Minimum value: 10
Maximum value: 50

In [3]:
# Question 20: Suppose you have two sets set1 = {1, 2, 3} and set2 = {4, 5, 6}, how can you merge them into a single set? Write a Python program to achieve this.

set1 = {1, 2, 3}

set2 = {4, 5, 6}

set1.union(set2)

{1, 2, 3, 4, 5, 6}

# Dictionary Interview Questions

In [9]:
# Question 1: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you access the value associated with key 'b'? Write a Python program to achieve this.

my_dict = {'a': 10, 'b': 20, 'c': 30}

value = my_dict['b']

print("The value associated with key 'b' is :" , value)

The value associated with key 'b' is : 20

In [12]:
# Question 2: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25, 'city': 'New York'},
# how can you update the value of 'age' to 30? Write a Python program to achieve this.


my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

my_dict["age"] = 30

print('Updated value of age:', my_dict)

Updated value of age: {'name': 'John', 'age': 30, 'city': 'New York'}

In [7]:
# Question 3: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you remove the key 'b'? Write a Python program to achieve this.

my_dict = {'a': 10, 'b': 20, 'c': 30}

del my_dict['b']

print(my_dict)

{'a': 10, 'c': 30}

In [12]:
# Question 4: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30},
# how can you add a new key-value pair 'city': 'London'? Write a Python program to achieve this.


my_dict = {'name': 'Alice', 'age': 30}

my_dict['city'] = 'London'

print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'London'}

In [13]:
# Question 5: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all keys? Write a Python program to achieve this.

my_dict = {'x': 1, 'y': 2, 'z': 3}

my_dict.keys()

dict_keys(['x', 'y', 'z'])

In [14]:
# Question 6: Suppose you have a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all values? Write a Python program to achieve this.


my_dict = {'x': 1, 'y': 2, 'z': 3}

my_dict.values()

dict_values([1, 2, 3])

In [22]:
# Question 7: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you check if key 'b' exists? Write a Python program to achieve this

my_dict = {'a': 10, 'b': 20, 'c': 30}

my_dict['b']

print("b exists :", my_dict['b'])

b exists : 20

In [28]:
# Question 8: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you iterate over its key-value pairs? Write a Python program to achieve this.

my_dict = {'a': 10, 'b': 20, 'c': 30}

for key, values in my_dict.items():

  print(key, " : ", values)

a  :  10
b  :  20
c  :  30

In [30]:
# Question 9: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you clear all elements from the dictionary? Write a Python program to achieve this.

my_dict = {'x': 1, 'y': 2, 'z': 3}

my_dict.clear()

print(my_dict)

{}

In [32]:
# Question 10: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you find its length? Write a Python program to achieve this.


my_dict = {'name': 'Alice', 'age': 30}

Length = len('my_dict')

print("Length of my dictionary :",Length)

Length of my dictionary : 7

In [33]:
# Question 11: Given two dictionaries dict1 = {'a': 1, 'b': 2} and dict2 = {'c': 3, 'd': 4}, how can you merge them? Write a Python program to achieve this.

dict1 = {'a': 1, 'b': 2}

dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
# Question 12: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25}, how can you copy it to another dictionary? Write a Python program to achieve this.

my_dict = {'name': 'John', 'age': 25}

Another_dict = my_dict.copy()

print("Another Dictionary :", Another_dict)

Another Dictionary : {'name': 'John', 'age': 25}

In [41]:
# Question 13: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can
# you get a default value when accessing a missing key? Write a Python program to achieve this.

my_dict = {'a': 10, 'b': 20, 'c': 30}

value = my_dict.get('d', "Not found")

print("The value for key 'd' is:", value)

The value for key 'd' is: Not found

In [42]:
# Question 14: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you convert it into a list of tuples? Write a Python program to achieve this.


my_dict = {'name': 'Alice', 'age': 30}

list(my_dict.items())

[('name', 'Alice'), ('age', 30)]

In [7]:
# Question 15: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you sort it by keys? Write a Python program to achieve this.


my_dict = {'a': 10, 'b': 20, 'c': 30}

sorted_dict = {key:my_dict[key]for key in sorted(my_dict.keys())}


print(sorted_dict)

{'a': 10, 'b': 20, 'c': 30}

In [8]:
# Question 16: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you delete the 'age' key using the pop() method? Write a Python program to achieve this.

my_dict = {'name': 'Alice', 'age': 30}

my_dict.pop('age')

print(my_dict)

{'name': 'Alice'}

In [2]:
# Question 17: Given a dictionary my_dict = {'x': 10, 'y': 20}, how can you check if it is empty? Write a Python program to achieve this.

my_dict = {'x': 10, 'y': 20}

if not my_dict:

  print("Dictionary is empty")

else:

  print("Dictionary is not empty")

Dictionary is not empty

In [11]:
# Question 18: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20},
# how can you update it with another dictionary {'c': 30, 'd': 40}? Write a Python program to achieve this.


my_dict = {'a': 10, 'b': 20}

another_dictionary = {'c': 30, 'd': 40}

my_dict.update(another_dictionary)

print(my_dict)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [16]:
# Question 19: Given a dictionary my_dict = {'apple': 3, 'banana': 5}, how can you get the key associated with the maximum value? Write a Python program to achieve this.

my_dict = {'apple': 3, 'banana': 5}

max_key = max(my_dict, key=my_dict.get)

print("The key associated with the maximum value is:", max_key)

The key associated with the maximum value is: banana

In [17]:
# Question 20: Suppose you have a dictionary my_dict = {'a': 1, 'b': 2, 'c': 3}, how can you reverse its key-value pairs?
# Write a Python program to achieve this.

my_dict = {'a': 1, 'b': 2, 'c': 3}


reversed_key = {value: key for key, value in my_dict.items()}

print(reversed_key)

{1: 'a', 2: 'b', 3: 'c'}